# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# local dependencies
/videojs-playlist-ui-webofstuff
/videojs-youtubeAgreement
.vscode/tasks.json
videojs-playlist-ui.vertical.css
domains.ext
localhost.crt
localhost.csr
localhost.key
RootCA.crt
RootCA.key
RootCA.pem
prisma/migrations/*
videojs-playlist-ui*.tgz
